export(haplin, haplinSlide, haplinStrat, suest, haptable, gxe, pedToHaplin, haplinTDT, pQQ, gwaaToHaplin, prepPed, toDataFrame, output, convertPed, lineByLine, cbindFiles, rbindFiles, snpPower, snpSampleSize, hapRun, hapPower, hapSim)
# export(haplinStrat, postTest)
#export(f.LD, f.triad.to.transmit, f.transmit.to.triad)
import(utils, stats, graphics, grDevices, tools, parallel, GenABEL, DatABEL)
importFrom(mgcv, mroot)
importFrom(MASS, mvrnorm)
importFrom(snow, sendCall, recvResult, postNode, closeNode)
importFrom(SuppDists, JohnsonFit, pJohnson)
S3method(plot, haplin)
S3method(print, haplin)
S3method(summary, haplin)
S3method(coef, haplin)
S3method(print, tri.glm)
S3method(summary, tri.glm)
S3method(print, summary.haplin)
S3method(print, summary.tri.glm)
S3method(print, suest)
S3method(haptable, haplin)
S3method(haptable, haplinStrat)
S3method(coef, haptable)
S3method(plot, haptable)
S3method(print, haplinTDT)
S3method(summary, haplinTDT)
S3method(plot, haplinTDT)
S3method(print, haplinSlide)
S3method(haptable, haplinSlide)
S3method(haptable, default)
S3method(haptable, gxe)
S3method(print, gxe)
