export(haplin, haplinSlide, suest, haptable, pedToHaplin, haplinTDT, pQQ, gwaaToHaplin, prepPed, toDataFrame, output)
# haplinStrat, 
#export(haplin, print.haplin, plot.haplin, summary.haplin, print.summary.haplin, summary.tri.glm, print.summary.tri.glm, f.triad.to.transmit, f.transmit.to.triad, haptable, f.LD, f.read.data, f.prep.data.new, f.create.tag, f.HWE.design, f.sort.alleles.new, f.preliminary.freq.new, f.repl.thin, f.EM.missing, f.tri.glm, f.pos.in.grid, f.groupsum)
S3method(plot, haplin)
S3method(print, haplin)
S3method(summary, haplin)
S3method(coef, haplin)
S3method(print, tri.glm)
S3method(summary, tri.glm)
S3method(print, summary.haplin)
S3method(print, summary.tri.glm)
S3method(print, suest)
S3method(haptable, haplin)
S3method(haptable, haplinStrat)
S3method(print, haplinTDT)
S3method(summary, haplinTDT)
S3method(plot, haplinTDT)
S3method(print, haplinSlide)
S3method(haptable, haplinSlide)
