export(haplin, haplinSlide, suest, haptable, pedToHaplin, haplinTDT, pQQ, gwaaToHaplin, prepPed, toDataFrame, output)
#export(haplinStrat, postTest, f.triad.to.transmit, f.transmit.to.triad, f.LD)
S3method(plot, haplin)
S3method(print, haplin)
S3method(summary, haplin)
S3method(coef, haplin)
S3method(print, tri.glm)
S3method(summary, tri.glm)
S3method(print, summary.haplin)
S3method(print, summary.tri.glm)
S3method(print, suest)
S3method(haptable, haplin)
#S3method(haptable, haplinStrat)
S3method(coef, haptable)
S3method(plot, haptable)
S3method(print, haplinTDT)
S3method(summary, haplinTDT)
S3method(plot, haplinTDT)
S3method(print, haplinSlide)
S3method(haptable, haplinSlide)
